*{
	margin:0;
	padding:0;	
}
a{color:#000;text-decoration:none;}
ul li,ol li{
	list-style:none;
}
body{
	width:960px;
	font-size:14px;
	margin:0 auto;
}
h2{
	font-size:14px;
	background:#eee;
	height:25px;
	line-height:25px;
	text-indent:10px;
}

.header{
	width:auto;
	height:150px;
	border:2px solid #CCC;
	margin:10px 0;
}
.header h1{
	width:210px;
	height:39px;
	/*background:red;*/
	margin:50px 0 0 20px;
}
.header h1 a{
	font-size:20px;
}
.header ul{
	padding:10px 50px 0 0;
	text-align:right;
}
.header ul li{
	display:inline-block;
}


.member{
	width:auto;
	height:600px;
	border:2px solid #CCC;
	font-size:12px;
}
.member h2{
	text-align:center;
	height:30px;
	line-height:30px;
}
.member .member_sidebar{
	width:300px;
	height:500px;
	margin:15px;
	border:1px dashed #999;
	float:left;
}
.member .member_sidebar dl{
	width:250px;
	background:red;
	margin:15px;
}
.member .member_sidebar dl dt{
	height:40px;
	line-height:40px;
	background:#999;
	text-align:center;
	font-weight:bold;
	color:#FFF;
}
.member .member_sidebar dl dd{
	height:40px;
	line-height:40px;
	background:#eee;
	text-align:center;
	font-weight:bold;
	color:#FFF;
}
.member .member_sidebar dl dd a{
	display:block;
}
.member .member_main{
	width:590px;
	height:500px;
	margin:15px;
	border:1px solid black;
	float:left;
}

.footer{
	clear:both;
	width:auto;
	height:60px;
	padding:10px 0 0 0;
}
.footer p{
	font-size:12px;
	letter-spacing:1px;
	padding:5px 0 0 0;
	text-align:center;
}


/*分页代码*/
.page_num{
	clear:both;
	
	height:20px;
	width:100%;
	padding:10px 0;
	position:relative;
}
.page_num ul {
	
	height:20px;
	position:absolute;
	right:30px;

}
.page_num ul li{
	float:left;
	width:26px;
	height:20px;
}
.page_num ul li a{
	display:block;
	height:20px;
	width:20px;
	border:1px solid #333;
	text-align:center;
	line-height:20px;
	text-decoration:none;
}
.page_num ul li a:hover,
.page_num ul li a.selected{
	background:#666;
	font-weight:bold;
	color:#fff;
}

/*文字分页*/
.page_text{
	height:20px;
	clear:both;
	padding:10px 0;
	width:100%;
}
.page_text ul{
	text-align:center;
	display:block;
	background:red;
}
.page_text ul li{
	display:inline-block;
}