.member{
    width:auto;
    height:600px;
    border:2px solid #CCC;
    font-size:12px;
}
.member h2{
    text-align:center;
    height:30px;
    line-height:30px;
}
.member .member_sidebar{
    width:300px;
    height:500px;
    margin:15px;
    border:1px dashed #999;
    float:left;
}
.member .member_sidebar dl{
    width:250px;
    background:red;
    margin:15px;
}
.member .member_sidebar dl dt{
    height:40px;
    line-height:40px;
    background:#999;
    text-align:center;
    font-weight:bold;
    color:#FFF;
}
.member .member_sidebar dl dd{
    height:40px;
    line-height:40px;
    background:#eee;
    text-align:center;
    font-weight:bold;
    color:#FFF;
}
.member .member_sidebar dl dd a{
    display:block;
}
.member .member_main{
    width:590px;
    height:500px;
    margin:15px;
    border:1px solid black;
    float:left;
}
.member .member_main dl{
    width:500px;
    margin:15px auto;
    font-size:14px;
}
.member .member_main dl dd{
    border-bottom:1px dashed #999;
    height:15px;
    padding:15px 0;
    width:100%;
}
.member .member_main dl dd input.text{
    width:220px;
    height:19px;
    border:1px dashed #333;
}
.member .member_main dl dd input.yzm{
    width:60px;
}
.member .member_main dl dd img.code{
    position:relative;
    top:10px;
    height:22px;
    cursor:pointer;
}
.member .member_main dl dd input.submit{
    width:60px;
    height:20px;
    border:1px dashed #333;
    display:block;
    cursor:pointer;
    background:#fff;
}